* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: monospace;
  color: #6d8b74;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efead8;
}
.text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ps-container,
.bs-container,
.scores,
.counter-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.ps-container,
.bs-container {
  margin: 0px 10px;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 20px;
  color: #6d8b74;
  background-color: #d0c9c0;
  border-radius: 12px;
  outline: none;
  border: none;
  width: 150px;
  height: 30px;
  cursor: pointer;
}
button:hover {
  margin: 20px;
  color: #6d8b74;
  background-color: #bcb2a4;
  width: 150px;
  height: 30px;
  transform: scale(1.1);
  transition: all 0.07s ease;
  cursor: pointer;
}

.bot-choice,
.win-lose {
  text-align: center;
}
